<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Common Home significa “casa condivisa” oppure “casa in comune”.</h4> 
          <br>
          <h4>Per pura coincidenza, ci troviamo in Via Emilio Casa.
        <p class="lead"> 
Siamo aperti a tutte le età, a tutti i livelli e a tutte le nazionalità.</h4> 
    <br>
          ____________________
    <br>
    <h1><a href="#faq.html">Frequently Asked Questions</a></h1>
</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
