<center>
  <br>
  Iscriviti subito! Ritira la tessera in sede
  <br><br>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdiHYwCdebyE6FhGvykUEISAplxTzayAAAtj67dWWgOZO-c2g/viewform?embedded=true" width="640" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  <h2>Check our calendar of activities!</h2>
  <br>
  <iframe src="https://calendar.google.com/calendar/embed?src=upbulor766pn33jm6rptig5dm8%40group.calendar.google.com&ctz=Europe%2FRome" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</center>
<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</aside>
