<center>
  <h2>Check our calendar of activities!</h2>
  <br>
  <iframe src="https://calendar.google.com/calendar/embed?src=upbulor766pn33jm6rptig5dm8%40group.calendar.google.com&ctz=Europe%2FRome" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</center>
<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>The button below is impossible to resist!</h3>
        <a href="https://forms.gle/3BmJyUzf7o97D3PQ6" class="btn btn-lg btn-light">Iscriviti ora a Commonhome!</a>
      </div>
    </div>
  </div>
</aside>
