<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li>Tobias 3496493673<i class="fa fa-phone fa-fw">Tobias 3496493673</i>{{ Tobias 3496493673 }}</li>
          <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:{{ tobias.jones.italia@protonmail.com }}">{{ tobias.jones.italia@protonmail.com }}</a>
          </li>Tobias 3496493673
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/CommonHomeParmaFB/{{ https://www.facebook.com/CommonHomeParmaFB/ }}">https://www.facebook.com/CommonHomeParmaFB/<i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/CommonHomeParma{{ https://twitter.com/CommonHomeParma }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/commonhome{{ https://github.com/commonhome }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
<center>
  <iframe src="https://app.lapentor.com/sphere/commonhome" frameborder="0" width="100%" height="400px" scrolling="no" allow="vr,gyroscope,accelerometer" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true"></iframe>

<br>
  <br>
  <div id="sfc415twsyu7wc4fbc37ac4k489n58gshnf"></div>
<script type="text/javascript" src="https://counter9.stat.ovh/private/counter.js?c=415twsyu7wc4fbc37ac4k489n58gshnf&down=async" async></script>
<br>
</center>
