<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>What we do</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/Screenshot 2022-03-24 at 15.32.18.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/Screenshot 2022-03-24 at 15.32.18.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/Screenshot 2022-03-24 at 15.32.18.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/Screenshot 2022-03-24 at 15.32.18.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="https://commonhome.github.io/activities.html" class="btn btn-dark">Esplora tutte le attività</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
